*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
/* HEADER  */
header{
    background-color:#3161e0;
}

.header-container{
    margin: auto;
    max-width: 1280px;
    padding: 20px 0;  
}

.logo-discord, .link, .btn-login{
    vertical-align: middle;
}

.logo-discord, .btn-login{
    display:inline-block;
}

nav{
    display:inline-block;
    padding: 0 250px;
}

.btn-login{
    padding:10px;
    border-radius: 40px;
    border:none;
}

.link ul, li, a{
    display:inline-block;
    text-decoration: none;
    color:white;
    padding: 0 10px;
     
}
 /* HEADER  */

/* HERO  */

.hero-container{
    background-image: url(../img/jumbo.png);
    height:650px;
    background-size:cover;
    background-repeat: no-repeat;
    text-align:center;
}

.title{
    padding-top:150px;
    margin: 0 auto;
    color:white;
    font-size: 30px;
    margin-bottom:30px;
}

.description{
    height:100px;
    max-width:900px;
    margin: 0 auto;
    color:white;
    font-size:25px; 
}

.download{
    margin-top: 80px;
}

.download .btn-white, .btn-black{
    padding:20px 50px;
    border-radius: 40px;
    margin-right: 20px;
    font-size:20px;
    border: none;
    font-weight: 600;
}

.btn-black{
    color: white;
    background-color: #23272a;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.col-1, .col-2, .col-3, .col-4{
    float: left;
    width: 50%;
}

.col-2, .col-3{
    padding-left: 200px;
}
    
.img-1 {
    width: 100%;
    display: block;
}

.img-2{
    width: 100%;
    display: block;

}

#top, #center, #bottom{
    width: 1280px;
    margin: auto;
}

.first{
    margin-top:100px;
    width: 100%;
}

.second{
    margin-top:130px;
    width: 50%; 

}

h2{
    width: 300px;
    font-size: 50px;
}

#center{
    margin-top:200px;   
}

.paragraph{
    width: 300px;
    font-size:20px;
    margin-top:30px;
}

    
#bottom{
    margin-top: 200px;
    background-color: white;
}

main{
    margin:auto;
}