*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
/* HEADER  */
header{
    background-color:#3161e0;
}

.container{
    margin: auto;
    max-width: 1280px;
    padding: 20px 0;  
}

.logo-discord, .link, .login{
    vertical-align: middle;
}

.logo-discord, .login{
    display:inline-block;
}

nav{
    display:inline-block;
    padding: 0 250px;
}

.login{
    padding:10px;
    border-radius: 30px;
    border:none;
}

.link ul, li, a{
    display:inline-block;
    text-decoration: none;
    color:white;
    padding: 0 10px;
     
}
 /* HEADER  */

